@using proje3.Models.Entity;
@model List<TBLMUSTERİLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MUSTERİ ID</th>
        <th>MUSTERİ ADI</th>
        <th>MUSTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
        <tr>
            <th>@mus.MUSTERIIDA</th>
            <td>@mus.MUSTERİAD</td>
            <td>@mus.MUSTERİSOYAD</td>
            <td> <a href="/MUSTERI/SIL/@mus.MUSTERIIDA" class="btn-danger">SİL</a></td>
            <td> <a href="/MUSTERI/MusteriGetir/@mus.MUSTERIIDA" class="btn-success">GÜNCELLE</a></td>

        </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>

