    
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="MUSTERİAD" />
    </div>
    <div>
        <label>Müşteri SoyAdı</label>
        <input type="text" class="form-control" name="MUSTERİSOYAD" />
    </div>
    <div>
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>

